
<!-- Enter number1 : <input #number1 type="number" [(ngModel)]="num1" id="n1"><br><br>
Enter number1 : <input #number2 type="number" [(ngModel)]="num2" id="n2"><br><br>
<button (click)="total()">Add</button>
{{ans}}
<br><br>
<div *ngIf="ans>100; then thenBlock else elseBlock"></div>
<div>
    <ng-template #thenBlock>Answer is greater than 100</ng-template>
</div>
<div>
    <ng-template #elseBlock>Answer is lesser than 100</ng-template>
</div> -->

<!-- <div [ngSwitch]="today"> -->
    <!-- the same view can be shown in more than one case -->
    <!-- <div *ngSwitchCase="'mon'">Today is Monday<div>
    <div *ngSwitchCase="'tue'">Today is Tuesday</div>
    <div *ngSwitchCase="'wed'">Today is Wednesday</div>
    <div *ngSwitchCase="'thurs'">Today is Thursday<div>
    <div *ngSwitchCase="'fri'">Today is Friday</div>
    <div *ngSwitchCase="'sat'">Today is Saturday</div>
    <div *ngSwitchCase="'sun'">Today is Sunday<div> -->

    <!--default case when there are no matches -->
    <!-- <div *ngSwitchDefault>Enter valid day of week</div>
    </div> -->

    <input  type="text" placeholder="enter userrname" [(ngModel)]="username" >
    <input  type="text" placeholder="enter password" [(ngModel)]="password">
    <div *ngIf="login; else elseBlock">Login Successful</div>
    <ng-template #elseBlock>login failed</ng-template>
    

    <button (click)="disp()">Login</button>