<!-- Enter number1 : <input #number1 type="number" [(ngModel)]="num1" id="n1"><br><br>
Enter number1 : <input #number2 type="number" [(ngModel)]="num2" id="n2"><br><br>
<button (click)="total()">Add</button>
{{ans}}
<br><br>
<div *ngIf="ans>100; then thenBlock else elseBlock"></div>
<div>
    <ng-template #thenBlock>Answer is greater than 100</ng-template>
</div>
<div>
    <ng-template #elseBlock>Answer is lesser than 100</ng-template>
</div> -->

<!-- <div [ngSwitch]="today"> -->
<!-- the same view can be shown in more than one case -->
<!-- <div *ngSwitchCase="'mon'">Today is Monday<div>
    <div *ngSwitchCase="'tue'">Today is Tuesday</div>
    <div *ngSwitchCase="'wed'">Today is Wednesday</div>
    <div *ngSwitchCase="'thurs'">Today is Thursday<div>
    <div *ngSwitchCase="'fri'">Today is Friday</div>
    <div *ngSwitchCase="'sat'">Today is Saturday</div>
    <div *ngSwitchCase="'sun'">Today is Sunday<div> -->

<!--default case when there are no matches -->
<!-- <div *ngSwitchDefault>Enter valid day of week</div>
    </div> -->
<!-- <style>
     .a{
        color: green;
     }
     .b{
        color:red;
     }

    </style>
    <input  type="text" placeholder="enter userrname" [(ngModel)]="username" ><br><br>
    <input  type="password" placeholder="enter password" [(ngModel)]="password"><br><br>
    
    <button (click)="disp()">Login</button><br><br>
    
    <div *ngIf="login == true; else elseBlock"><h2 class="a">{{str1}}</h2></div>
    <ng-template #elseBlock><h2 class="b">{{str2}}</h2></ng-template> -->

<body>
   <input [(ngModel)]="task" (keyup.enter)="add()" placeholder="Add a task">
   
   <button class="btn btn-primary"(click)="add()">Add</button>
   
   <div *ngIf="isEdit">
      <button class="btn btn-primary" (click)="save()">Save</button>
      <button class="btn btn-primary" (click)="cancelEdit()">cancelEdit</button></div>
   <br>{{err}}
   <ol>
      <li *ngFor="let item of todo; let i = index">
         {{ item }} 
         <button class="btn btn-primary" (click)="remove(i)"> Delete </button>
         <button class="btn btn-primary" (click)="edit(i)">Edit</button>
      </li>
         </ol>